# dependencies
node_modules/
.pnp
.pnp.js

# env
.env
.env.local
.env*.local
!.env.example

# next.js
.next/
out/
next-env.d.ts

# build
dist/
build/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
coverage/
.vscode/
.idea/
